@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

#controlPanel {
    font-family: 'Lato', sans-serif;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eee; */
    /* background-color: rgba(32, 114, 69, .6); */
    border-radius:5px;
    overflow:hidden;
}

#exTable {
    cursor: default;
    border-collapse: collapse;
}

#exTable,
th,
td {

    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.exTr_ac {
    background-color: #30475e8a;
    color: #eee;
    /* position: sticky; */
    transition: .1s ease-in;
    /* top: 0; */
}

/* tr {
    border: 4px solid transparent;
} */

.selected {
    background: #dddddd;
    /* border: 4px solid rgba(32, 114, 69, 1) !important; */
}

.exTr_sticky td, .exTr_sticky th {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index:99999999999999999!important;
    background:#30475e;
 }

 /* cp */
 #controlPanel button, #exTabContent, #exTabCounter {
    width: 100%!important;
}

#controlPanel button{
    text-align:left;
    padding:0;
    border:none;
    font-size:.8rem;
    /* margin-top:.2rem; */
}

.ex_csvButton{
    text-align:center!important;
    /* border-radius:5px; */
}


button img{
    width:20px;
    height:auto;

}
button{
    text-align:center!important;
    /* border-radius:5px; */
}
#controlPanel div,  #controlPanel header{
    padding:0 5px;
    font-size:.8rem;
    background:#222831;
}

#controlPanel > * {
    width:50px!important;
    height:50px;
    border-radius:50%;
    /* background:red; */
    display:flex;
    align-items:center;
    justify-content:center;
    transform:scale(.9);
    transition:.15s ease-in;
}

#controlPanel:hover > button {
    transform:scale(.8);
    opacity:.5;
}
#controlPanel > button:hover {
    transform:scale(1);
    opacity:1;
}