@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

#controlPanel {
    font-family: 'Lato', sans-serif;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 114, 69, .6);
}

#exTable {
    cursor: default;
    border-collapse: collapse;
}

#exTable,
th,
td {

    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.exTr_ac {
    background-color: #79aa8f;
    color: #eee;
    /* position: sticky; */
    transition: .1s ease-in;
    /* top: 0; */
}

/* tr {
    border: 4px solid transparent;
} */

.selected {
    background: rgba(32, 114, 69, 0.288);
    /* border: 4px solid rgba(32, 114, 69, 1) !important; */
}